<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Contract" value="F8" />
	<!--Çalışma Tipi 
	PANEL: Operatör Panel
	FILLBOX: Kasa Doldurma
	-->
	<add key="WorkCenterType" value="PANEL" />
	<!--PANEL NAME-->
	<add key="PanelName" value="FFGLCNPRO44" />
	<!--<add key="PanelName" value="BARIDA" />-->
	<add key="Localization:BasePath" value="Locales" />
	<add key="Localization:Default" value="en_EN" />
	<add key="Localization:ReloadOnChange" value="true" />
	
	<add key="MultipleProductAddingAllowed" value="TRUE" />
	<add key="HideOEEPanel" value="FALSE" />

	<add key="ScrapProductDesignPath" value="C:\imes\Etiketdizayn\Suphelikasa.repx"/>
	<add key="ScrapPrinterName" value="TSC TTP-244CE"/>
	<!--Lazer Yazıcı Kasa Doldurma için-->
	<add key="KasaPrinter" value="Kyocera FS-1060DN GX (Copy 1)" />
	<!--Kasa doldurma için boş kasa QR barkod yazıcısı-->
	<add key="KontainerPrinter" value="TSC TTP-244CE" />
	<!--Emtp Box Barcode Design Path-->
	<add key="EmptyBoxDesignPath" value="C:\imes\Etiketdizayn\EmptyBoxBarcode.repx"/>
	<add key="DualPanelMode1And2" value="TRUE" />
</appSettings>